body { margin: 0px; }
p { margin: 0px; }
table,th,td { border:3px solid black; border-collapse:collapse; cellpadding="7"}
th { background-color:#1589FF; font-size:16px; color:#FFF; border:3px solid black; border-radius: 5px;}
td { text-align:center; }
select { margin-left: 2px; width: 153px; }
textarea { margin-left:2px; width: 147px; resize: none; }
fieldset { border:2px solid black; border-radius: 5px; }

#header { margin: 0px auto; width: 1024px; height: 150px; background-image:url(../image/head.jpg) }
#menu { margin: 0px auto; width: 1024px; height: 47px; background-color: #FFF; }
	.nav {  display: inline; list-style-type: none; padding: 0px; margin: 0px; background-color: #FFF; }
	.nav li { padding: 7px 0px 0px 0px; margin: 0px; position: relative; float: left; background-color: #FFF; }
	.nav li ul { list-style-type:none; padding:0px; margin:0px; visibility:hidden; position:absolute; float:left; background-color:#FFF; }
	.nav li:hover ul { visibility:visible; }
		a { display: inline-block; background-color:#FFF; text-decoration:none; }
		a:hover{ background-color:#00B2EE;  }
		.menu { width:150px; height:40px; text-align:center; }
		.submenu { width:150px; height:43px; text-align:center; font-size:14px;}
		.selected { width:50px; }
	#auth { text-align: right; }
#middle { margin: 0px auto; width: 1024px; background-color:#E0FFFF;  border-radius: 5px; }
	#info { width: 1024px; }
	#content { height: 500px; }
		.box1 { width: 480px; height: 190px; float: left; }
		.box2 { width: 768px; float: left; }
		.box3 { width: 200px; float: left; text-align: center; }
		.lbl { width: 150px; display: inline-block; vertical-align: top; font-size: 15px }
		.tail { width: 30px; display: inline-block; vertical-align: top; }
		.description { display: inline; font-size: 12px; color: #F00; vertical-align: top; }
		#myimg { width: 150px; height: 200px; }
		#btn_back {  }
#footer { margin: 0px auto; width: 1024px; height: 70px; background-image:url(../image/foot.jpg) }
#popup { background-color:#E0FFFF;}

	